/*
 JS Yellow: #f0db4f
 WarsawJS Red: #f7302f
*/
@font-face {
    font-family: firalight;
    src: url(../fonts/FiraSans-Light.otf);
}

@font-face {
    font-family: firaultralight;
    src: url(../fonts/FiraSans-UltraLight.otf);
}

@font-face {
    font-family: fira;
    src: url(../fonts/FiraSans-Regular.otf);
}

.slide h2 {
    color: #f7302f;
    font-weight: normal;
    font-family: firalight, sans-serif;
}

.slide:after {
    display: none;
}

.slide.front-page {
    background: url(../images/panoramatail.png) repeat-x white 0px 90%;
    background-size: 20%;
}

.slide.front-page > div {
    padding: 105px 0 0;
    width: 100%;
}

.slide.front-page .logo {
    width: 440px;
    float: left;
}

.slide.front-page .details {
    float: left;
    width: 522px;
    border-left: 3px solid red;
    padding: 0 0 10px 50px;
    margin-top: 5px;
}

.slide.front-page .details h2 {
    font-family: firaultralight, sans-serif;
    color: black;
    font-size: 26px;
    padding: 0;
    margin: 0 0 10px 0;
}

.slide kbd, .slide code, .slide samp {
    background-color: #f0db4f;
}

.slide b, .slide strong {
    color: #f7302f;
}

.slide a {
    color: #2380e6;
}

.slide pre mark {
    background-color: #f0db4f;
}

.slide pre mark.important {
    background-color: #f7302f;
}

.slide p {
    font-family: fira, sans-serif;
}

.slide.shout h2 {
    color: black;
}

.slide.cover h2 {
    color: white;
}

.slide.cover div img {
    width: 100%;
}

.full .progress div {
    border-color: transparent transparent #f7302f;
}

.badge-left {
    left: 0;
}

.badge-left a {
    background: #f7302f;
    -webkit-transform: rotate(315deg) translateY(-1em);
    -ms-transform: rotate(315deg) translateY(-1em);
    transform: rotate(315deg) translateY(-1em);
}

.badge-left a:hover {
    background: #f0db4f;
}
